.footer-container {
    background-color: #454545;
    margin: 0;
    padding: 2em;
}

.footer-divs{
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.footer-container small {
    color: white;
    font-size: smaller;
    font-family: sans-serif;
}

.footer-items {
    padding-left: 2.5em;
}