.my-items-div{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    width: 50%;
    margin: 4em auto;
    padding: 3em;
    background-color: #f8f8f8;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.my-items-div h2 {
    text-align: center;
    color: #78bc16;
}