.detail-container {
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
}

.detail-img-div{
    width: 45%;
}

.detail-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.detail-img-text{
    width: 52%;
    text-align: left;
}

.detail-img-text h1 {
    color: #78bc16;
}

.deliver-btn {
    background-color: #78bc16;
    border: none;
    border-radius: 2em;
    padding: .3em 2em;
    color: white;
}

.deliver-btn:hover{
    color: #78bc16;
    background-color: black;
}

.price-quantity h3 {
    color: #78bc16;
}

.input-field {
    border: 4px solid #78bc16;
}