.inventories-area {
    font-family: sans-serif;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.inventories-heading {
    margin-top: 1.5em;
    font-size: 2.8rem;
    color: #78bc16;
}

.inventories-container {
    
}