.social-btn {
  border: none;
  text-align: left;
  width: 50%;
  background-color:#78bc16;
  color: white;
  border-radius: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.social-btn:hover{
  background-color: green;
}

.social-text {
  text-align: left;
}
.social-btn-div{
  text-align: left;
}
.social-btn span {
  padding: 0.5em 0;
}
