.blogs {
  text-align: center;
  font-family: serif;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 7em;
  background-color: #f8f8f8;
}
.blogs h1 {
  margin: .8em 0;
  font-size: 2.5rem;
  color: #78bc16;
}

.blogs-container {
  display: flex;
  justify-content: space-around;
}
.blogs-container h3 {
  color: #78bc16;
  font-size: 1.5rem;
}

.blogs-container p {
  color: #002244;
}

.blog {
  text-align: justify;
  padding: 1em;
  width: 19%;
  border-radius: 1em;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .blogs {
    width: 100%;
  }
  .blogs-container {
    flex-direction: column;
    align-items: center;
  }
  .blog {
    width: 80%;
    margin-bottom: 1em;
  }
}
