.about-container {
    background-color: #f8f8f8;
    padding-top: 2em;
    padding-bottom: 6em;
    font-family: sans-serif;
}

.about-width {
    background-color: white;
    width: 85%;
    margin: 0 auto;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.about-text {
    width: 50%;
}

.about-text h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.5rem;
    font-weight: 300;
    color: #78bc16;
}

.about-btn {
    background-color: #78bc16;
    text-decoration: none;
    border: none;
    border-radius: 2em;
    padding: .7em 3em;
    font-weight: bolder;
    color: white;
}

.about-btn:hover {
    color: #78bc16;
    background-color: black;
}

.about-img-container {
    width: 45%;
    text-align: right;
}

.about-img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}